<div class="main__container">
    <div>
        <p><strong>Email: </strong> {{email}} </p>
        <input type="text" id="txtEmail">
    </div> 
    <div>
        <p><strong>Subject: </strong> {{email}} </p>
        <input type="text" id="txtSubject">
    </div> 
    <div>
        <p><strong>Mensaje: </strong> {{message}} </p>
        <input type="text" id="txtmessage">
    </div>
    <button class="button__enviar" id="btnEnviar">Enviar</button>
</div>